/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html,
body {
   font-family: 'Poppins', sans-serif;
   background: lightgray;
}

* {
   padding: 0;
   margin: 0;
}

nav {
   display: flex;
   height: 110px;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   background: white;
   box-shadow: -20px 11px 30px 0px rgb(89 85 85);
   position: relative;
   z-index: 10;
}

nav #logo {
   display: flex;
   flex-direction: row;
}

nav #logo img {
   padding: 0 10px;
}

nav ul {
   display: flex;
   flex-direction: row;

}

nav ul li {
   list-style-type: none;
   margin: 20px;
}

nav ul a {
   margin: 10px;
   color: black;

}

nav a {
   text-decoration: none;
}

nav #avatar {
   display: flex;
   align-items: center;
}

nav #avatar a {
   text-decoration: none;
   background: blueviolet;
   border: 2px solid blueviolet;
   color: white;
   margin: 20px;
   border-radius: 8px;
   padding: 8px 16px;

}

nav #avatar img {
   height: 60px;
   width: 60px;
   border-radius: 100%;
   object-fit: cover;
   border: 2px solid black;

}

main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0 50px;
   background: lightgray;
}

section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background-image: url("assets/shoes-3.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

section h1,
section h2 {
   color: white;
   margin: 0;
}

section h2 {
   font-weight: 200;
}

section .button-container {
   display: flex;
   gap: 16px;
   margin: 20px 0;
}

section .button {
   display: flex;
   text-decoration: none;
   color: blueviolet;
   border-radius: 8px;
   width: fit-content;
   padding: 8px 16px;
   border: 2px solid blueviolet;
   transition: all .3s ease-in-out;
}

section .button.primary {
   background: blueviolet;
   color: white;
}

section .button.primary:hover {
   background: rgb(169, 121, 214);
   border-color: rgb(169, 121, 214);
}

section .button.secondary {
   background: transparent;
   color: blueviolet
}

section .button.secondary:hover {
   border-color: rgb(169, 121, 214);
   color: white;
}

main h1 {
   margin: 80px 0 50px 0;
   display: flex;
   justify-content: center;
}

main .container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}


main .card-container {
   display: flex;
   flex-direction: column;
   margin: 0 10px 0 10px;
   padding: 0 0 10px 0;
   background: white;
   border-radius: 10px;
   overflow: hidden;
}


main .card-container .sneaker-info {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 12px;
}



main .card-container .sneaker-info .sneaker-title-price {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

main .card-container .sneaker-info .sneaker-title-price h3 {
   color: blueviolet;
}



main .card-container .sneaker-info a {
   text-decoration: none;
   border: 2px solid blueviolet;
   color: white;
   background: blueviolet;
   border-radius: 8px;
   padding: 8px 16px;
   text-align: center;
   margin: 20px 0 5px 0;
}

footer {
   display: flex;
   justify-content: center;
   padding: 50px 0 30px 0;
}